@import "tailwindcss";

@layer base {
    * {
        @apply box-border;
    }

    button{
        @apply cursor-pointer
    }
}

@layer components {
    .category-btn {
        @apply p-2.5 max-w-[75%] w-full flex justify-center items-center gap-0 border border-black rounded-md text-black font-bold bg-[#78CAD2] cursor-pointer transition-all duration-300 hover:bg-[#3bc7ff] hover:text-black hover:border-black active:bg-[#3bc7ff];
    }

    .category-btn[aria-selected="true"] {
        @apply bg-[#3bc7ff] text-black border-black;
    }

    .quiz-container .question {
        @apply flex flex-col justify-start items-start mb-6;
    }

    .question h3 {
        @apply text-[#3bc7ff] text-xl font-bold pt-2 pb-2 mb-2 text-left;
    }

    .quiz-heading {
        @apply flex flex-row mb-8 items-center justify-between;
    }

    .quiz-heading h2, .quiz-heading a {
        @apply flex justify-center py-2.5 px-5 rounded-md font-bold;
    }

    .quiz-heading h2 {
        @apply mr-2 w-full text-black bg-[#3bc7ff] text-2xl;
    }

    .quiz-heading a {
        @apply ml-2 text-green-500 bg-black border-2 border-green-500 hover:bg-green-500 hover:text-black text-lg;
    }

    .question label {
        @apply flex items-center gap-3 cursor-pointer text-left py-1.5;
    }

    .delete-btn {
        @apply px-3 py-1.5 border-2 border-red-500 hover:bg-red-500;
    }
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Quiz Container */
.quiz-container {
    @apply bg-black text-white shadow-[0_0_10px_#3bc7ff] rounded-lg p-6 text-center;
}

#startBtn {
    width: 55%;
    max-width: 100%;
    height: 2.3em;
    margin: 0.5em;
    color: #3bc7ff;
    background: black;
    border: 2px solid #3bc7ff;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#startBtn:hover {
    color: white;

}

#startBtn:after {
    content: "";
    background: #3bc7ff;
    color: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s;
}

#startBtn:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#startBtn:disabled,
#startBtn:disabled:after {
    cursor: not-allowed;
    background-color: rgb(82, 82, 82);
    border:2px solid rgb(82, 82, 82);
    color: black;
}